.certificates_yes, .certificates_no
{
	display:block;
	width:90px;
	margin:auto;
	padding:1px;
}

.certificates_yes
{
	border:1px solid green;
	background-color:lightgreen;
	color:black;
}

.certificates_no
{
	border:1px solid maroon;
	background-color:red;
	color:white;
}

summary::-webkit-details-marker {
  display: none
}

summary:after {
  /* background: url(some-picture);
  float: left; */
  height: 20px;
  width: 20px;
  content: " ...";
}

details[open] summary:after {
  /* background: url(other-picture); */
  content: "";
}

details[open], summary{ display:inline; }

details.statistic:hover
{
	background-color:#F0F0F0;
	border: 1px dotted silver;
	color:lightblue;
	cursor:zoom-in;
}

details[open].statistic:hover
{
	background-color:transparent;
	border: 1px dotted silver;
	color:black;
	cursor:default;
}

details[open].statistic > summary:hover
{
	cursor:zoom-out;
}

div.smile_image
{
	width:25px;
	height:25px;
	background-image:url('../tests_system/images/ui/smile.png');
	background-size:23px;
	background-position:center;
	background-repeat:no-repeat;
}

div.smile_image:hover
{
	background-image:url('../tests_system/images/ui/ok.png');
	background-size:23px;
	background-position:center;
	background-repeat:no-repeat;
}

a.hover_eye{display:block;}
a.hover_eye:hover
{
	color:transparent;
	background-image:url('../tests_system/images/ui/eye.png');
	background-size:16px;
	background-position:center;
	background-repeat:no-repeat;
}

#menu_container{ position:fixed; left:0px; }
#menu_container:hover{ opacity: 1; }

.red {color: #ed5446; font-weight:bold; background-color: yellow;}

table .paginator{ float: right; position: relative; left:-1px; top:-1px;}

table .paginator > a{
	border-radius: 0px;
	padding:0 10px;
	line-height:20px;
	height:22px;
}

table .paginator > a:first-of-type{border-radius:50px 0px 0px 50px;}
table .paginator > a:last-of-type{border-radius:0px 50px 50px 0px;}

.disabled_link
{
	color:silver;
	text-decoration:none;
}

.broken_link
{
	color:red;
	text-decoration:line-through;
}

.normal_link
{
	color:green;
	text-decoration:none;
}

.answer_success
{
	color:white;
	border:2px solid lime;
	background-color:green;
}

.answer_error
{
	color:white;
	border:2px solid red;
	background-color:maroon;
}

.mark_wrong
{
	float:right;
	position:relative;
	right:0px;
	top:-10px;
	color:red;
	background-color:white;
	font-weight:bold;
	cursor:pointer;
	border:1px solid red;
	width:16px;
	text-align:center;
}

.mark_wrong_disabled
{
	float:right;
	position:relative;
	right:0px;
	top:-10px;
	cursor: default;
	color:#BBBBBB;
	background-color:white;
	border:1px solid #BBBBBB;
}

.show_help
{
	float:right;
	position:relative;
	right:0px;
	top:-10px;
	color:blue;
	background-color:white;
	font-weight:bold;
	cursor:pointer;
	border:1px solid blue;
	text-align:center;
	margin-right:2px;
}

.fake_tab
{
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color:silver;
	margin-right:2px;
	padding: 0 3px 0 3px;
	color:gray;
	font-weight: bold;
	text-decoration:none;
}

.fake_tab:hover
{
	color:black;
}

.fake_tab_active
{
	color:white;
}

.fake_tab_remove
{
	color:blue;
}

.fake_tab_remove:hover
{
	color:red;
}

.question_div
{
}

.table-w100
{
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

.wa-certificate-icon-1{
	color:lime;
	background-color:blue;
	border:2px dotted lime;
	border-radius:50%;
	padding:2px;
}

.wa-certificate-icon-0{
	color:yellow;
	background-color:red;
	border:2px dotted yellow;
	border-radius:50%;
	padding:2px;
}


.debug_info_all::before{ color: red; content: "DEBUG INFO (Всички виждат това!)\A"; font-weight: bold; text-decoration: underline;}
.debug_info_me::before{ color: gray; content: "DEBUG INFO (Само Ти виждаш това!)\A"; font-style: italic; text-decoration: none; }

#btn_delete_mails{
	color: red;
	cursor: pointer;
}

.solved_tab{
	background-color: rgb(217, 237, 247) !important;
	color: rgb(25, 173, 217) !important;
	border:1px solid #bce8f1 !important;
}

.except_this{
	display: none;
	float:right;
	margin-right: 8px !important;
}

/* PF = Preview Final */
.pf_input_number{
	width: 40px;
	text-align:right;
}

.pf_input_number:focus{
	text-align: left;
}

.pf_color_legend{
	margin-top:4px;
	display:block;
	border:1px solid silver;
}

.pf_color_legend_onlive{
	background-color:rgba(0, 255, 0, 0.5);
}

.pf_color_legend_online{
	background-color:rgba(173, 216, 230, 0.5);
}

.pf_color_legend_reject{
	background-color:rgba(255, 120, 0, 0.5);
}

.pf_color_legend input{ margin: auto; }

.info_span{
	float: right;
	margin-right: 2px;
}

.center{
	display: block;
	text-align: center;
	margin-left: auto !important;
	margin-right: auto !important;
}

.deleted_mail{
	text-decoration: line-through;
	color: silver;
}

.semi_visible { opacity: 0.5; }
#btnShowHelp{ /* padding: 2px 3px 1px; */ }
.button_circle {
	border-radius: 50%;
}